

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Użytkownik
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Dodaj</a>
              <a class="dropdown-item" href="#">Usuń</a>
              <a class="dropdown-item" href="#">Edytuj</a>
            </div>
          </div>
          <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Grupy
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Dodaj</a>
                <a class="dropdown-item" href="#">Usuń</a>
                <a class="dropdown-item" href="#">Edytuj</a>
              </div>
            </div>
    </nav>


<!-- <nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
        <img src="/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        SYSTEM
      </a>

    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
</nav> -->
